@charset "utf-8";
/* CSS Document */

/* ====== Zurich LtCn BT ========= */
@font-face {
  font-family: 'Zurich LtCn BT';
  src: url('fonts/zurchlc.eot');
  src: url('fonts/zurchlc?#iefix') format('embedded-opentype'), url('fonts/zurchlc.woff') format('woff'), url('fonts/zurchlc.ttf') format('truetype'), url('fonts/zurchlc.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====== Zurich Cn BT ========= */
@font-face {
  font-family: 'ZurichBT-BoldCondensed';
  src: url('fonts/zurchbc.eot');
  src: url('fonts/zurchbc.eot?#iefix') format('embedded-opentype'), url('fonts/zurchbc.woff') format('woff'), url('fonts/zurchbc.ttf') format('truetype'), url('fonts/zurchbc.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Zurich Cn BT';
  src: url('fonts/zurchbc.eot');
  src: url('fonts/zurchbc.eot?#iefix') format('embedded-opentype'), url('fonts/zurchbc.woff') format('woff'), url('fonts/zurchbc.ttf') format('truetype'), url('fonts/zurchbc.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====== Zurich BlkEx BT ========= */
@font-face {
  font-family: 'ZurichBT-BlackExtended';
  src: url('fonts/zurchke.eot');
  src: url('fonts/zurchke.eot?#iefix') format('embedded-opentype'), url('fonts/zurchke.woff') format('woff'), url('fonts/zurchke.ttf') format('truetype'), url('fonts/zurchke.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'zurich_lt_btlight';
  src: url('fonts/zurchl-webfont.eot');
  src: url('fonts/zurchl-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/zurchl-webfont.woff') format('woff'), url('fonts/zurchl-webfont.ttf') format('truetype'), url('fonts/zurchl-webfont.svg#zurich_lt_btlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* ====== Zurich End ========= */
body {
  margin: 0;
  padding: 0;
  font-family: 'ZurichBT-LightCondensed','Zurich BlkEx BT','zurich_lt_btlight','ZurichBT-BlackExtended','Zurich Cn BT','ZurichBT-BoldCondensed' !important;
  font-size: 16px;
  color: #333;
  
  background:url('images/bg_login.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Zurich LtCn BT' !important;
	color: #64c5cf;
	text-transform: capitalize;
}
h1 {
	font-size: 32px;
	letter-spacing: 5px;
}
h2 {
	font-size: 50px;
	letter-spacing: 8px;
}
h3 {
	font-size: 40px;
	letter-spacing: 8px;
}
h4 {
	font-size: 32px;
	letter-spacing: 6px;
}
h5 {
	font-size: 24px;
	letter-spacing: 4px;
}
h6 {
	font-size: 18px;
	letter-spacing: 2px;
}
.pageTitle {
	font: 'Zurich LtCn BT' 60px #64c5cf;
	letter-spacing: 10px;
}
p {
	font-family: 'Zurich LtCn BT', 'Arial'  !important;
	color: #64c5cf;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: 2px;
}
a {
	font-family: 'Zurich LtCn BT' !important;
	font-size: 16px !important;
	font-weight: normal !important;
 	color: #ffffff;
 	text-decoration: none;
 	letter-spacing: 2px;
}
a:hover {
 	color: #64c5cf;
}
.txtAlignCenter {
	text-align: center;
}
.bb_logo {
	float: left;
	margin: 1vh 2vw;
	width: 416px;
	height: 80px;
	background: url('images/bb_logo.png') no-repeat; 
}
.headText {
	font-family: 'Zurich LtCn BT' !important;
	color: #64c5cf;
	font-size: 36px;
	line-height: 36px;
	letter-spacing: 2px;
}
.bb_button {
	font-family: 'Zurich LtCn BT';
	color:#333333;
	font-size:18px;
	font-weight: bold;
	background:#64c5cf;
	border:none;
	letter-spacing:3px;
	box-shadow: 0px 0px 5px #000;
	border-radius: 0px;
	cursor: pointer;
}
.bb_buttonSml {
	font-family: 'Zurich LtCn BT';
	color:#333333;
	font-size:16px;
	font-weight: bold;
	background:#64c5cf;
	border:none;
	letter-spacing:3px;
	box-shadow: 0px 0px 5px #000;
	border-radius: 0px;
}
.bgLogin {
	width:100vw;
	height: 100vh;
	padding-top: 4vh;
	background:url('images/bg_login.jpg') no-repeat center center fixed !important; 
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	background-size: cover !important;
}
.outBorder {
	margin: 0 auto;
	width:96vw;
	height: 92vh;
	background: rgba(0, 0, 0, 0.3);
}
.container {
	margin: 0 auto;
	width: 96vw;
}
.bb_logo2 {
	margin: 6vh 0vw;
	width: 300px;
	height: 205px;
	display: block;
	background: url('images/logo_login.png') no-repeat center; 
}
.bxLogin {
	margin: 0 auto;
	width: 300px;
	padding-top: 4vh;
	text-align:center;
}
/* ==== Home =================*/
.north {
	background : #333333;
}
.west {
	background : #333333;
}
.mybutton {
	border-radius: 10px;
	background: linear-gradient(to bottom, #f0f9ff 0%, #a1dbff 100%);
	font-size : 15px;
}
.myGrid tr.z-row td.z-row-inner, tr.z-row  .z-cell, div.z-grid {
	align: right;
	border: 2px;
}
treerow {
	font-family: 'Zurich LtCn BT', 'Arial'  !important;
	font-size: 14px !important;
	font-weight: normal !important;
 	color: #ffffff;
 	text-decoration: none;
 	letter-spacing: 1px;
}
label {
	font-family: 'Zurich LtCn BT', 'Arial'  !important;
	font-size: 40px !important;
	font-weight: normal !important;
 	color: #ffffff;
 	text-decoration: none;
 	letter-spacing: 1px;
}
.mylabel {
	font-size : 15px;
	align: center;
	font-weight: bold;
	color: #DFADCC;
}
.panellabel {
	align: right;
}
.z-tab-ver .z-tab-ver-text {
	text-align: left;
}
/* ==== OVERRIDE =================*/
.z-window-content {
	padding: 0px;
}
.z-grid, .z-tree, .z-tree-body, .z-window-embedded-hr, .z-window-embedded-hm, .z-window-embedded-cl, .z-window-embedded-cr, .z-window-embedded-tl, .z-window-embedded-tr, .z-window-embedded-bl, .z-window-embedded-br, .z-window-embedded-hl, .z-window-embedded-cnt, .z-window-embedded-cm, div.z-grid-body, tr.z-row td.z-row-inner, tr.z-grid-odd td.z-row-inner, tr.z-grid-odd .z-cell, tr.z-grid-odd {
	border: none !important;
	background: none !important;
}
.z-treecell-text {
	font-family: 'Zurich LtCn BT', 'Arial'  !important;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: 1px;
}
.z-treerow .z-treerow-selected {
	background: rgba(100, 197, 207, 0.3)  !important;
}
.z-treerow:hover .z-treecell-content {
    color: rgba(100, 197, 207, 0.3);
}
div.z-treefooter-cnt, div.z-treecell-cnt, div.z-treecol-cnt {
	font-family: 'Zurich LtCn BT' !important;
	color: #FFFFFF;
	font-size: 1.0vw;
	line-height: 30px;
	letter-spacing: 1px;
}
span.z-tree-root-open, span.z-tree-tee-open, span.z-tree-last-open, span.z-tree-root-close, span.z-tree-tee-close, span.z-tree-last-close {
	margin-top:6px;
}
.z-window-embedded-header, .z-window-modal-header, .z-window-popup-header, .z-window-highlighted-header, .z-window-overlapped-header {
	font-family: 'Zurich LtCn BT' !important;
	color: #64c5cf;
	font-size: 32px;
	line-height: 32px;
	letter-spacing: 1px;
	display: block;
	border-bottom: 4px solid #64c5cf;
	margin-bottom: 20px;
}
.z-label {
	font-family: 'Zurich LtCn BT' !important;
	color: #FFFFFF;
	font-size: 16px;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
.seactionHead {
	font-family: 'Zurich LtCn BT' !important;
	color: #64c5cf;
	font-size: 20px;
	letter-spacing: 1px;
	border-bottom: 1px dotted #666666;
	margin-bottom: 10px;
	display:block;
}
.z-textbox {
	border-radius: 0px;
	border: 2px solid #EEE;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.6;
	filter: alpha(opacity=60);
	font-family: 'Zurich LtCn BT';
	line-height:20px !important;
	color:#FFFFFF;
	font-size: 16px;
	padding:2px;
}
.z-doublebox {
	border-radius: 0px;
	border: 2px solid #EEE;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.6;
	filter: alpha(opacity=60);
	font-family: 'Zurich LtCn BT';
	line-height:20px !important;
	color:#FFFFFF;
	font-size: 16px;
	padding:2px;
}
.z-combobox-pp .z-comboitem {
	color: #FFFFFF;
}
.z-comboitem .z-comboitem-over{
	background: #333333;
	color: #FFFFFF;
}
.z-combobox-readonly {
	border: none !important;
	background: none !important;
	color: #FFFFFF;
}
.z-combobox-real-readonly, .z-combobox {
	border-radius: 0px;
	border: 2px solid #EEE;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.6;
	filter: alpha(opacity=60);
	font-family: 'Zurich LtCn BT';
	line-height:20px !important;
	color:#FFFFFF;
	font-size: 16px;
	padding:2px;
}
.z-combobox .z-combobox-btn  {
	border: none !important;
}
.z-combobox .z-combobox-btn-over {
	border: none !important;
	background: url('images/combobtn.png') no-repeat; 
}
.z-combobox-inp {
	font-family: 'Zurich LtCn BT' !important;
	line-height:20px !important;
	color:#FFFFFF !important;
	font-size: 16px;
	padding:2px;
}
tr.z-row td.z-row-inner {
	padding: 4px 0px;
}
tr.z-treerow-over>td.z-treecell {
	border-top: none !important;
	border-bottom: none !important;
}
tr.z-treerow-over, tr.z-treerow-seld {
	background-image: none !important;
	background-color: rgba(0, 0, 0, 0.3);
	border: none !important;
}
/*-- tabs and ros and columns */
div.z-grid-header tr.z-columns, div.z-grid-header tr.z-auxhead {
	border: none !important;
	background: none !important; 
}
div.z-column-cnt, div.z-row-cnt {
	font-family: 'Zurich LtCn BT' !important;
	color: #64c5cf;
	font-size: 18px;
	letter-spacing: 1px;
}
div.z-grid-header th.z-column {
	border: none !important;
}
.z-tab-hr, .z-tab-hl, .z-tab-hm {
	background: none !important; 
}
.z-tabs-cnt li {
	font-family: 'Zurich LtCn BT';
	color:#333333;
	font-size:18px;
	font-weight: bold;
	background:#64c5cf;
	border:none;
	letter-spacing:2px;
	border-radius: 0px;
	cursor: pointer;
	margin-right:1px;
}
.z-tabpanel {
	border-color: #64c5cf;
	border-width: 1px;
	border-style: solid;
}
/*-- Accordion ---------------------------------------------- */
.z-groupbox-header span.z-caption-cnt {
	background: none !important;
}
.z-groupbox-header {
	font-family: 'Zurich LtCn BT';
	color:#333333;
	font-size:18px;
	font-weight: bold;
	line-height: 28px;
	background:#64c5cf;
	border:none;
	letter-spacing:2px;
	border-radius: 0px;
	cursor: pointer;
	margin-right:0px;
}
.z-groupbox-colpsd .z-groupbox-hr {
	border: none !important;
}
.z-groupbox-cnt {
	padding: 1vw;
	border: 1px solid #64c5cf;
}
.z-groupbox-hm {
	top: 0px;
}
.z-groupbox-hr {
	border: 1px solid #64c5cf;
}

/*-- Calendar ---------------------------------------------- */
.z-calendar-left-icon, .z-calendar-right-icon {
	border: none !important;
	background: none !important;
}
.z-calendar-left-icon {
	background: url('images/arrow_left.png') no-repeat center; 
}
.z-calendar-right-icon {
	background: url('images/arrow_right.png') no-repeat center; 
}
.z-datebox-inp {
	border-radius: 0px;
	border: 2px solid #EEE;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0.5;
	filter: alpha(opacity=5x`x`0);
	font-family: 'Zurich LtCn BT';
	line-height:20px !important;
	color:#FFFFFF;
	font-size: 16px;
	padding:2px;
}
.z-datebox .z-datebox-btn {
	border: none !important;
	background: none !important;
}
.z-combobox-rounded-shadow, .z-bandbox-rounded-shadow, .z-datebox-rounded-shadow, .z-combobox-shadow, .z-bandbox-shadow, .z-datebox-shadow {
	border-radius: 0px;
	background-color: rgba(0, 0, 0, 0.95);
}
.z-datebox-rounded-pp, .z-datebox-pp {
    border: 1px solid #64c5cf;
    font-family: 'Zurich LtCn BT' !important;
    letter-spacing: 1px;
    font-size: 12px;
    font-weight: normal;
}
.z-calendar, .z-calendar-title-over {
	border-radius: 0px;
	border: none !important;
	background: none !important;
}
.z-calendar-caldow .z-calendar-wkend {
    color: #64c5cf;
}
.z-calendar-calday td.z-calendar-seld, .z-calendar-over {
	border-radius: 0px !important;
	border: 1px solid #64c5cf;
	background: none !important;
}
td.z-calendar-wkend {
	background: none !important;
}
.z-calendar-left-icon {
	background: url('images/arrow_left.png') no-repeat center; 
}
.z-calendar-right-icon {
	background: url('images/arrow_right.png') no-repeat center; 
}
.z-datebox {
	background: none !important;
}
.z-datebox .z-datebox-btn, .z-datebox .z-datebox-btn-over {
 background: url('images/datebtn.png') no-repeat !important;
 right: 0px; 
}
/* =========== Modal =================== */
z-window-modal {
	margin:0 auto;
	width: 90%;
	height: 95vh;
}
.z-window-modal-hm {
	background: #000000;
}
.z-window-modal-cnt {
	background:#394446;
}